* {
	margin: 0px;
	padding: 0px;
}

/*Tags*/
body{
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #F3F3F3;
}

header{
	background: #18121E;
	/*background-image: url("img/header.png");*/
	width: 100%;
	height: 360px;
	border-bottom: 3px solid #984B43;
	position: fixed;
	top: 0;
}

nav{
	

	width: 50%;
	margin: 380px auto 0 auto;
	background: #DEE0DB;
	padding: 10px;
	
}

aside{
	width: 50%;
	margin: 20px auto 0 auto;
	background: #DEE0DB;
	padding: 10px;
}

footer{
	width: 100%;
	background: #AA9D75;
	height: 75px;
	margin-top: 20px;
	padding-top: 75px; 
	text-align: center;
	border: 1px solid #984B43;
}

a{
	
	width: 34px;
	height: 34px;

}


h4{
	margin-bottom: 5px;
}

hr{
	margin:10px;
}



/*Classes*/
.paragrafo{
	padding-left: 15px;
	margin-bottom: 15px;
}

.lista{
	padding-left: 30px;
	margin-bottom: 15px;
}

.icone{
	width: 44px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.borda_icone{
	float: left;
	background: #DEE0DB;
	border-radius: 100%;
	margin: 5px;
	padding: 9px;

}

.coluna1{
	vertical-align: top;
	text-align: right;
	width: 86px;
}
/*ID's*/

#foto_perfil{
	
	width: 200px;
	display: block;
	margin: 44px auto 0 auto;
	border-radius: 100%;
}

#redes_sociais{
	width: 216px;
	height: 72px;
	margin: 0 auto;

}

#msg_welcome{
	text-align: center;
	margin: 4px 0 14px 0;
	font-size: 32px;
	color: #0047AB ;
}

