* {
	margin: 0px;
	padding: 0px;
}

/*Tags*/
header{
	background: #18121E;
	width: 100%;
	height: 360px;
	border-bottom: 5px solid #984B43;
	position: fixed;
	top: 0;
}

a{
	
	width: 34px;
	height: 34px;

}
/*Classes*/
.icone{
	width: 44px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.borda_icone{
	float: left;
	background: #233237;
	border-radius: 100%;
	margin: 5px;
	padding: 9px;

}
/*ID's*/

#foto_perfil{
	border: 2px solid #984B43;
	width: 200px;
	display: block;
	margin: 44px auto 0 auto;
	border-radius: 100%;
}



#redes_sociais{
	width: 216px;
	height: 72px;
	margin: 0 auto;

}